#HomePage>header {
    grid-area: head;
}

header ul {
    list-style: none;
    display: block;
    justify-content: space-around;
    /*position: fixed;*/
    background-color: #1b3f7d;
    /* Se modificó la barra para que aparezca mientras se baja el scroll */
}

header ul li {
    position: relative;
    float: left;
}

header ul li:hover {
    background: #2a6496;
}

header ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}

header ul ul a {
    line-height: 200%;
}

header ul li:hover>ul {
    display: block;
    background: #1b3f7b;
}

.bloque {
    background: #1b3f7d;
    width: 10000%;
    height: 80px;
    display: block;
    top: 0;
}